@namespace tt "http://www.w3.org/ns/ttml";
@namespace tts "http://www.w3.org/ns/ttml#styling";
@namespace ebuttm "urn:ebu:tt:metadata";
@namespace ebutts "urn:ebu:tt:style";
@namespace ttm "http://www.w3.org/ns/ttml#metadata";
@namespace xml "http://www.w3.org/XML/1998/namespace";

:root {
    font-family:arial, helvetica, sans-serif;
    margin:1em;
}

/*blocks*/
tt|tt, tt|head, tt|metadata,
tt|styling, tt|style, tt|layout,
tt|region, tt|body, tt|div, tt|p {
    display:block;
}

/* main sections */
tt|metadata:before  {content: "\A0 Metadata \A0";   }
tt|styling:before   {content: "\A0 Styles \A0";     }
tt|layout:before    {content: "\A0 Layout \A0";     }
tt|div:before       {content: "\A0 Subtitles \A0";  }
tt|metadata:before, tt|styling:before, tt|layout:before, tt|div:before {
    background-color:orange;
    border-bottom : 1px solid black;
    border-right : 1px solid black;
    border-radius:5px;
}
tt|metadata, tt|styling, tt|layout, tt|div  {
    border : 1px solid lightgray;
    margin:1em;
    padding:0.2em;
    border-radius:5px;
}

/* display metadata generically */
tt|metadata *:before {
    display:block;
    color:green;
    background-color:#FFF5F5;
    content:oxy_local-name();
    border-radius:5px;
}
tt|metadata * {
    display:block;
    margin-left:1em;
    margin-top:0.2em;
    margin-bottom:0.2em;
    padding:0.2em;
    background-color:white;
    border-radius:5px;
}

/* edit/done button for a style and region */
tt|style:before, tt|region:before {
    display:block;
    text-align:left;
    content :
        oxy_button(
            action, oxy_action(
                name, 'Edit', 
                description, 'Edit', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-edit'
            ),
            showIcon, true
        );   
}
tt|style:oxy-edit:before, tt|region:oxy-edit:before {
    content :
        oxy_button(
            action, oxy_action(
                name, 'Done', 
                description, 'Done editing', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-edit'
            ),
            showIcon, true
         );
}

/* edit mode hightlight */
tt|style:oxy-edit, tt|region:oxy-edit, tt|p:oxy-edit {
    border : 1px solid blue;
    border-radius:5px;
}
tt|style:oxy-edit, tt|region:oxy-edit, tt|p:oxy-edit, tt|p:oxy-edit:before {
    background-color:#FFFAEC;
}

/* render only the name for a style or region */
tt|style, tt|region {
    margin:0.5em;
    padding:0.5em;
    content : attr(xml|id);
}

/* editing mode for styles - show all attributes */
tt|style:oxy-edit {
    content:
     oxy_label(text, "Style ID: ", width, 30%)
        oxy_textfield(
            edit, '@xml:id',
            width, 60%
        ) "\A"
        oxy_label(text, "Color: ", width, 30%)
        oxy_textfield(
            edit, '@tts:color',
            width, 60%
        ) "\A"
        oxy_label(text, "Background color: ", width, 30%)
        oxy_textfield(
            edit, '@tts:backgroundColor',
            width, 60%
        ) "\A"
        oxy_label(text, "Font family: ", width, 30%)
        oxy_textfield(
            edit, '@tts:fontFamily',
            width, 60%
        ) "\A"
        oxy_label(text, "Font size: ", width, 30%)
        oxy_textfield(
            edit, '@tts:fontSize',
            width, 60%
        ) "\A"
        oxy_label(text, "Font style: ", width, 30%)
        oxy_textfield(
            edit, '@tts:fontStyle',
            width, 60%
        ) "\A"
        oxy_label(text, "Font weight: ", width, 30%)
        oxy_textfield(
            edit, '@tts:fontWeight',
            width, 60%
        ) "\A"
        oxy_label(text, "Text align: ", width, 30%)
        oxy_textfield(
            edit, '@tts:textAlign',
            width, 60%
        ) "\A"
        oxy_label(text, "Text decoration: ", width, 30%)
        oxy_textfield(
            edit, '@tts:textDecoration',
            width, 60%
        ) "\A"
        oxy_label(text, "Line height: ", width, 30%)
        oxy_textfield(
            edit, '@tts:lineHeight',
            width, 60%
        ) "\A"
        oxy_label(text, "Direction: ", width, 30%)
        oxy_textfield(
            edit, '@tts:direction',
            width, 60%
        ) "\A"
        oxy_label(text, "Unicode BiDi: ", width, 30%)
        oxy_textfield(
            edit, '@tts:unicodeBidi',
            width, 60%
        ) "\A"
        oxy_label(text, "Padding: ", width, 30%)
        oxy_textfield(
            edit, '@tts:padding',
            width, 60%
        ) "\A"
        oxy_label(text, "Multi Row Align: ", width, 30%)
        oxy_textfield(
            edit, '@ebutts:multiRowAlign',
            width, 60%
        ) "\A"
        oxy_label(text, "Other styles: ", width, 30%)
        oxy_textfield(
            edit, '@style',
            width, 60%
        );
}

/* preview styles */
tt|style:after {
    color:white;
    background-color:black;
    display:block;
    padding:0.2em;
    border-radius:5px;
    
    content:
        oxy_label(
            text, 
            oxy_concat(attr(xml|id), ' ', attr(xml|id), ' ', attr(xml|id), ' '),
            color, oxy_xpath("replace((@*:color[.!=''], 'white')[1], 'transparent', 'white')"),
            background-color, oxy_xpath("replace((@*:backgroundColor[.!=''], 'black')[1], 'transparent', 'black')"),
            width, 100%,
            styles, oxy_concat(
                'text-align:',
                oxy_xpath("replace(replace((@*:textAlign, 'left')[1], 'start', 'left'), 'end','right')"),
                ';'
            )
        );
}


/* editing mode - show all region attributes */
tt|region:oxy-edit {
    content:
     oxy_label(text, "Region ID: ", width, 30%)
        oxy_textfield(
            edit, '@xml:id',
            width, 60%
        ) "\A"
        oxy_label(text, "Origin: ", width, 30%)
        oxy_textfield(
            edit, '@tts:origin',
            width, 60%
        ) "\A"
        oxy_label(text, "Extent: ", width, 30%)
        oxy_textfield(
            edit, '@tts:extent',
            width, 60%
        ) "\A"
        oxy_label(text, "Display align: ", width, 30%)
        oxy_combobox(
            edit, '@tts:displayAlign',
            width, 60%
        ) "\A"
        oxy_label(text, "Padding: ", width, 30%)
        oxy_textfield(
            edit, '@tts:padding',
            width, 60%
        ) "\A"
        oxy_label(text, "Writing mode: ", width, 30%)
        oxy_combobox(
            edit, '@tts:writingMode',
            width, 60%
        ) "\A"
        oxy_label(text, "Styles: ", width, 30%)
        oxy_textfield(
            edit, '@style',
            width, 60%
        );
}

/* brake line on <br/> */
tt|br { content : "\A"; }
/* show new lines as ↵ in edit mode*/
tt|p:oxy-edit tt|br {content : "↵\A";}

/* edit/done button for a p plus access to usual fields */
tt|p:before {
    display:block;
    color:black;
    background-color:white;
    text-align:left;
    border-bottom : 1px solid lightgray;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
    content:
        oxy_button(
            action, oxy_action(
                name, 'Edit', 
                description, 'Edit paragraph info', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-edit'
            ),
            showIcon, true
        ) "\A0"
        oxy_button(
            action, oxy_action(
                name, 'Styles', 
                description, 'Edit styles on embedded span elements', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-editStyles'
            ),
            showIcon, true
        ) "\A0"
        oxy_textfield(
            edit, '@xml:id',
            width, 20%
        ) "\A0"
        oxy_textfield(
            edit, '@begin',
            width, 20%
        ) "\A0"
        oxy_textfield(
            edit, '@end',
            width, 20%
        );
}
/* all p information */
tt|p:oxy-edit:before {
    content:
        oxy_button(
            action, oxy_action(
                name, 'Done', 
                description, 'Edit paragraph info', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-edit'
            ),
            showIcon, true
        ) "\A0"
        oxy_button(
            action, oxy_action(
                name, 'Styles', 
                description, 'Edit styles on embedded span elements', 
                operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', 
                arg-elementLocation, '.',
                arg-name, 'oxy-editStyles'
            ),
            showIcon, true
        ) "\A"
        oxy_label(text, "ID: ", width, 8em)
        oxy_textfield(
            edit, '@xml:id',
            width, 20%
        ) "\A"
        oxy_label(text, "Begin: ", width, 8em)
        oxy_textfield(
            edit, '@begin',
            width, 20%
        ) "\A0\A0\A0\A0\A0\A0\A0\A0"
        oxy_label(text, "End: ", width, 8em)
        oxy_textfield(
            edit, '@end',
            width, 20%
        ) "\A"
        oxy_label(text, "Region: ", width, 8em)
        oxy_combobox( 
            edit, '@region',
            width, 20%,
            editable, false,
            values, oxy_xpath('string-join(//*:region/@xml:id, ",")')
            
        ) "\A0\A0\A0\A0\A0\A0\A0\A0"
        oxy_label(text, "Style: ", width, 8em)
        oxy_combobox( 
            edit, '@style',
            editable, false,
            values, oxy_xpath('string-join(//*:style/@xml:id, ",")'),
            width, 20%
        ) "\A"
        oxy_label(text, "Agent: ", width, 8em)
        oxy_textfield( 
            edit, '@ttm:agent',
            width, 20%
        ) "\A0\A0\A0\A0\A0\A0\A0\A0"
        oxy_label(text, "Role: ", width, 8em)
        oxy_textfield( 
            edit, '@ttm:role'
            width, 20%
        ) "\A"
        oxy_label(text, "Whitespace: ", width, 8em)
        oxy_combobox( 
            edit, '@xml:space',
            width, 20%
        ) "\A0\A0\A0\A0\A0\A0\A0\A0"
        oxy_label(text, "Language: ", width, 8em)
        oxy_textfield( 
            edit, '@xml:lang',
            width, 20%
        );
}
/* paragraphs */
tt|p {
    white-space:-oxy-trim-when-ws-only;
    margin:1em;
    padding:1em;
}
tt|span {
    white-space:normal;
}

/* dynamic styling spans according to style */
tt|p {
    text-align:oxy_xpath("replace(replace(let $ps:=@style, $ds:=../@style return (//*:style[@xml:id=$ps]/@*:textAlign, //*:style[@xml:id=$ds]/@*:textAlign, 'left')[1], 'start', 'left'), 'end','right')");
}
tt|span, tt|span[style] {
    color : oxy_xpath("replace(let $s:=@style, $ps:=../@style, $ds:=../../@style return (//*:style[@xml:id=$s]/@*:color, //*:style[@xml:id=$ps]/@*:color, //*:style[@xml:id=$ds]/@*:color, 'white')[1], 'transparent', 'white')");    
    background-color:oxy_xpath("replace(let $s:=@style, $ps:=../@style, $ds:=../../@style return (//*:style[@xml:id=$s]/@*:backgroundColor, //*:style[@xml:id=$ps]/@*:backgroundColor, //*:style[@xml:id=$ds]/@*:backgroundColor, 'black')[1], 'transparent', 'black')");
}

/* round corners for the first and last spans */
tt|span:first-child {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
tt|span:last-child {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

/* edit style specification for the current span */
tt|p:oxy-editStyles > tt|span:after {
    vertical-align:central;
    content:
        oxy_combobox( 
            edit, '@style',
            editable, true,
            values, oxy_xpath('string-join(//*:style/@xml:id, ",")')
        )
}

/*
 * TODO: 
 *  div attributes
 *  br/@ttm:role
 *  span attributes
 *  add actions
 * 
 */








